<p id="notice"><%= notice %></p>

<p>
  <strong>Carmodel:</strong>
  <%= @car.carmodel %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @car.imageurl %>
</p>

<p>
  <strong>Carmake:</strong>
  <%= @car.carmake %>
</p>

<p>
  <strong>Videourl:</strong>
  <%= @car.videourl %>
</p>

<p>
  <strong>Milage:</strong>
  <%= @car.milage %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Exterior:</strong>
  <%= @car.exterior %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Interiorcolor:</strong>
  <%= @car.interiorcolor %>
</p>

<p>
  <strong>Mpg:</strong>
  <%= @car.mpg %>
</p>

<p>
  <strong>Fuletype:</strong>
  <%= @car.fuletype %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @car.transmission %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @car.engine %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Stocknumber:</strong>
  <%= @car.stocknumber %>
</p>

<p>
  <strong>Vehiclehistory:</strong>
  <%= @car.vehiclehistory %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
